/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-ico-arrow-right-name: 'sprite-ico-arrow-right';
$sprite-ico-arrow-right-x: 68px;
$sprite-ico-arrow-right-y: 0px;
$sprite-ico-arrow-right-offset-x: -68px;
$sprite-ico-arrow-right-offset-y: 0px;
$sprite-ico-arrow-right-width: 5px;
$sprite-ico-arrow-right-height: 11px;
$sprite-ico-arrow-right-total-width: 73px;
$sprite-ico-arrow-right-total-height: 62px;
$sprite-ico-arrow-right-image: '../img/sprite.png';
$sprite-ico-arrow-right: 68px 0px -68px 0px 5px 11px 73px 62px '../img/sprite.png' 'sprite-ico-arrow-right';
$sprite-ico-down-name: 'sprite-ico-down';
$sprite-ico-down-x: 48px;
$sprite-ico-down-y: 40px;
$sprite-ico-down-offset-x: -48px;
$sprite-ico-down-offset-y: -40px;
$sprite-ico-down-width: 12px;
$sprite-ico-down-height: 7px;
$sprite-ico-down-total-width: 73px;
$sprite-ico-down-total-height: 62px;
$sprite-ico-down-image: '../img/sprite.png';
$sprite-ico-down: 48px 40px -48px -40px 12px 7px 73px 62px '../img/sprite.png' 'sprite-ico-down';
$sprite-ico-halfprice-48-name: 'sprite-ico-halfprice-48';
$sprite-ico-halfprice-48-x: 0px;
$sprite-ico-halfprice-48-y: 0px;
$sprite-ico-halfprice-48-offset-x: 0px;
$sprite-ico-halfprice-48-offset-y: 0px;
$sprite-ico-halfprice-48-width: 48px;
$sprite-ico-halfprice-48-height: 47px;
$sprite-ico-halfprice-48-total-width: 73px;
$sprite-ico-halfprice-48-total-height: 62px;
$sprite-ico-halfprice-48-image: '../img/sprite.png';
$sprite-ico-halfprice-48: 0px 0px 0px 0px 48px 47px 73px 62px '../img/sprite.png' 'sprite-ico-halfprice-48';
$sprite-ico-rus-name: 'sprite-ico-rus';
$sprite-ico-rus-x: 48px;
$sprite-ico-rus-y: 0px;
$sprite-ico-rus-offset-x: -48px;
$sprite-ico-rus-offset-y: 0px;
$sprite-ico-rus-width: 20px;
$sprite-ico-rus-height: 20px;
$sprite-ico-rus-total-width: 73px;
$sprite-ico-rus-total-height: 62px;
$sprite-ico-rus-image: '../img/sprite.png';
$sprite-ico-rus: 48px 0px -48px 0px 20px 20px 73px 62px '../img/sprite.png' 'sprite-ico-rus';
$sprite-ico-search-name: 'sprite-ico-search';
$sprite-ico-search-x: 0px;
$sprite-ico-search-y: 47px;
$sprite-ico-search-offset-x: 0px;
$sprite-ico-search-offset-y: -47px;
$sprite-ico-search-width: 14px;
$sprite-ico-search-height: 15px;
$sprite-ico-search-total-width: 73px;
$sprite-ico-search-total-height: 62px;
$sprite-ico-search-image: '../img/sprite.png';
$sprite-ico-search: 0px 47px 0px -47px 14px 15px 73px 62px '../img/sprite.png' 'sprite-ico-search';
$sprite-ico-ukr-name: 'sprite-ico-ukr';
$sprite-ico-ukr-x: 48px;
$sprite-ico-ukr-y: 20px;
$sprite-ico-ukr-offset-x: -48px;
$sprite-ico-ukr-offset-y: -20px;
$sprite-ico-ukr-width: 20px;
$sprite-ico-ukr-height: 20px;
$sprite-ico-ukr-total-width: 73px;
$sprite-ico-ukr-total-height: 62px;
$sprite-ico-ukr-image: '../img/sprite.png';
$sprite-ico-ukr: 48px 20px -48px -20px 20px 20px 73px 62px '../img/sprite.png' 'sprite-ico-ukr';
$sprite-ico-up-name: 'sprite-ico-up';
$sprite-ico-up-x: 14px;
$sprite-ico-up-y: 47px;
$sprite-ico-up-offset-x: -14px;
$sprite-ico-up-offset-y: -47px;
$sprite-ico-up-width: 12px;
$sprite-ico-up-height: 7px;
$sprite-ico-up-total-width: 73px;
$sprite-ico-up-total-height: 62px;
$sprite-ico-up-image: '../img/sprite.png';
$sprite-ico-up: 14px 47px -14px -47px 12px 7px 73px 62px '../img/sprite.png' 'sprite-ico-up';
$spritesheet-width: 73px;
$spritesheet-height: 62px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: $sprite-ico-arrow-right $sprite-ico-down $sprite-ico-halfprice-48 $sprite-ico-rus $sprite-ico-search $sprite-ico-ukr $sprite-ico-up;
$spritesheet: 73px 62px '../img/sprite.png' $spritesheet-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
