/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-ico-arrow-right-name: 'sprite-ico-arrow-right';
$sprite-ico-arrow-right-x: 0px;
$sprite-ico-arrow-right-y: 67px;
$sprite-ico-arrow-right-offset-x: 0px;
$sprite-ico-arrow-right-offset-y: -67px;
$sprite-ico-arrow-right-width: 5px;
$sprite-ico-arrow-right-height: 11px;
$sprite-ico-arrow-right-total-width: 95px;
$sprite-ico-arrow-right-total-height: 78px;
$sprite-ico-arrow-right-image: '../img/sprite.png';
$sprite-ico-arrow-right: 0px 67px 0px -67px 5px 11px 95px 78px '../img/sprite.png' 'sprite-ico-arrow-right';
$sprite-ico-down-name: 'sprite-ico-down';
$sprite-ico-down-x: 54px;
$sprite-ico-down-y: 47px;
$sprite-ico-down-offset-x: -54px;
$sprite-ico-down-offset-y: -47px;
$sprite-ico-down-width: 12px;
$sprite-ico-down-height: 7px;
$sprite-ico-down-total-width: 95px;
$sprite-ico-down-total-height: 78px;
$sprite-ico-down-image: '../img/sprite.png';
$sprite-ico-down: 54px 47px -54px -47px 12px 7px 95px 78px '../img/sprite.png' 'sprite-ico-down';
$sprite-ico-halfprice-48-name: 'sprite-ico-halfprice-48';
$sprite-ico-halfprice-48-x: 0px;
$sprite-ico-halfprice-48-y: 0px;
$sprite-ico-halfprice-48-offset-x: 0px;
$sprite-ico-halfprice-48-offset-y: 0px;
$sprite-ico-halfprice-48-width: 48px;
$sprite-ico-halfprice-48-height: 47px;
$sprite-ico-halfprice-48-total-width: 95px;
$sprite-ico-halfprice-48-total-height: 78px;
$sprite-ico-halfprice-48-image: '../img/sprite.png';
$sprite-ico-halfprice-48: 0px 0px 0px 0px 48px 47px 95px 78px '../img/sprite.png' 'sprite-ico-halfprice-48';
$sprite-ico-mailform-name: 'sprite-ico-mailform';
$sprite-ico-mailform-x: 48px;
$sprite-ico-mailform-y: 0px;
$sprite-ico-mailform-offset-x: -48px;
$sprite-ico-mailform-offset-y: 0px;
$sprite-ico-mailform-width: 47px;
$sprite-ico-mailform-height: 44px;
$sprite-ico-mailform-total-width: 95px;
$sprite-ico-mailform-total-height: 78px;
$sprite-ico-mailform-image: '../img/sprite.png';
$sprite-ico-mailform: 48px 0px -48px 0px 47px 44px 95px 78px '../img/sprite.png' 'sprite-ico-mailform';
$sprite-ico-rus-name: 'sprite-ico-rus';
$sprite-ico-rus-x: 0px;
$sprite-ico-rus-y: 47px;
$sprite-ico-rus-offset-x: 0px;
$sprite-ico-rus-offset-y: -47px;
$sprite-ico-rus-width: 20px;
$sprite-ico-rus-height: 20px;
$sprite-ico-rus-total-width: 95px;
$sprite-ico-rus-total-height: 78px;
$sprite-ico-rus-image: '../img/sprite.png';
$sprite-ico-rus: 0px 47px 0px -47px 20px 20px 95px 78px '../img/sprite.png' 'sprite-ico-rus';
$sprite-ico-search-name: 'sprite-ico-search';
$sprite-ico-search-x: 40px;
$sprite-ico-search-y: 47px;
$sprite-ico-search-offset-x: -40px;
$sprite-ico-search-offset-y: -47px;
$sprite-ico-search-width: 14px;
$sprite-ico-search-height: 15px;
$sprite-ico-search-total-width: 95px;
$sprite-ico-search-total-height: 78px;
$sprite-ico-search-image: '../img/sprite.png';
$sprite-ico-search: 40px 47px -40px -47px 14px 15px 95px 78px '../img/sprite.png' 'sprite-ico-search';
$sprite-ico-ukr-name: 'sprite-ico-ukr';
$sprite-ico-ukr-x: 20px;
$sprite-ico-ukr-y: 47px;
$sprite-ico-ukr-offset-x: -20px;
$sprite-ico-ukr-offset-y: -47px;
$sprite-ico-ukr-width: 20px;
$sprite-ico-ukr-height: 20px;
$sprite-ico-ukr-total-width: 95px;
$sprite-ico-ukr-total-height: 78px;
$sprite-ico-ukr-image: '../img/sprite.png';
$sprite-ico-ukr: 20px 47px -20px -47px 20px 20px 95px 78px '../img/sprite.png' 'sprite-ico-ukr';
$sprite-ico-up-name: 'sprite-ico-up';
$sprite-ico-up-x: 66px;
$sprite-ico-up-y: 47px;
$sprite-ico-up-offset-x: -66px;
$sprite-ico-up-offset-y: -47px;
$sprite-ico-up-width: 12px;
$sprite-ico-up-height: 7px;
$sprite-ico-up-total-width: 95px;
$sprite-ico-up-total-height: 78px;
$sprite-ico-up-image: '../img/sprite.png';
$sprite-ico-up: 66px 47px -66px -47px 12px 7px 95px 78px '../img/sprite.png' 'sprite-ico-up';
$spritesheet-width: 95px;
$spritesheet-height: 78px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: $sprite-ico-arrow-right $sprite-ico-down $sprite-ico-halfprice-48 $sprite-ico-mailform $sprite-ico-rus $sprite-ico-search $sprite-ico-ukr $sprite-ico-up;
$spritesheet: 95px 78px '../img/sprite.png' $spritesheet-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
